*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

.logo {
  max-width: 100%;
  max-height: 60px;
}

.nav{
  display: flex;
}

.navbar {
  display: flex;
  float: right;
  justify-content: space-around;
}

.navbar:hover {
  background-color: blue;
}

h2 {
  display:flex;

}

.when {
}

.where {
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first.box {

}

.second.box {

}

.third.box {

}

.links {
  width:50px;
}

div img.sponsors {
  width: 200px;

}

.footer {
  background-color: blue;
}
